$form-error: #f00;

.form__field {
  display: flex;
  flex-direction: column;

  & + & {
    margin: 10px 0 0;
  }
}

.field__label {
  margin: 0 0 5px;

  &::after {
    content: ":";
  }

  &--required {
    &::before {
      content: "*";
      color: $form-error;
    }
  }
}

.field__error-message {
  display: flex;
  color: $form-error;
  margin: 5px 0 0;
}
